/node_modules
/node_modules1
/node_modules2
/node_modules3
/node_modules4
/node_modules5
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor1
/vendor2
/vendor3
/vendor4
/vendor5
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.phpstorm.meta.php
_ide_helper.php
/db_data
/go
cert.pem
key.pem
